@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: auto; /* Prevent horizontal overflow from sidebar */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure all elements respect padding and margin */
}

#root, #__next {
  height: 100%; /* Ensure that Next.js uses full height */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
